LDAP_URI=ldaps://127.0.0.1:636

LDAP_SKIP_TLS_VERIFY=true

LDAP_BASE_DN=DC=lab,DC=local
LDAP_USER_SEARCH_BASE=DC=lab,DC=local
LDAP_SEARCH_SCOPE=LEVEL

LDAP_BIND_DN=user1@lab.local
LDAP_BIND_PASSWORD=CHANGE_ME

LDAP_USERNAME_ATTRIBUTE=sAMAccountName
LDAP_RDN_ATTRIBUTE=cn
LDAP_UUID_ATTRIBUTE=objectGUID
LDAP_USER_OBJECT_CLASS=user

# Optional custom user filter.
# (&(objectClass=<LDAP_USER_OBJECT_CLASS>)(|(<LDAP_USERNAME_ATTRIBUTE>={username})(userPrincipalName={username})(mail={username})))
LDAP_USER_FILTER=

LDAP_UPN_SUFFIX=lab.local
